--extra-index-url https://download.pytorch.org/whl/cu118

# PyTorch Core
torch
torchvision
torchaudio

# Scientific & Data
numpy
scipy
scikit-learn
matplotlib
h5py

# Image & 3D Processing
Pillow
chumpy==0.71
smplx==0.1.28
trimesh

# NLP & Text
spacy
ftfy
regex

# Utilities
tqdm==4.66.4
gdown==4.7.1
wandb==0.15.12
typing-extensions==4.11.0

# Git Dependencies
git+https://github.com/openai/CLIP.git